.todo__list {
  display: flex;
  justify-content: space-between;
  min-width: 40vw;
  max-width: 600px;
  /* margin: auto !important; */
  /* margin-left: -50px; */
  align-items: center;
  /* text-align: center; */
}

.todo__listItem {
  display: flex;
  flex-wrap: wrap;
}

.todo__listEditButton {
  margin-right: 7px;
  cursor: pointer;
}

.todo__listDeleteButton {
  cursor: pointer !important;
}
.todo__listButton {
  display: flex;
  align-items: center;
}
