.todo__list {
  display: flex;
  min-width: 40vw;
  max-width: 600px;
  /* margin: auto !important; */

  align-items: center;
  text-align: center;
}

.todo__listEditButton {
  margin-right: 7px;
  cursor: pointer;
}

.todo__listDeleteButton {
  margin-right: 7px !important;
  cursor: pointer !important;
}
